@model Wagenpark.Models.BoekenModel

<body>


    <style>
        body {
            background-image: url('../../Content/Images/Background.png');
            background-size: cover;
        }

        .btn-danger {
        }
    </style>

    <style>
        legend {
            background-color: #000;
            color: #fff;
            padding: 3px 6px;
        }

        .output {
            font: 1rem 'Fira Sans', sans-serif;
        }

        input {
            margin: .4rem;
        }

        label {
            display: inline-block;
            text-align: right;
            width: 20%;
        }

        .btn-success {
            width: 285px;
            height: 50px;
            color:darkgreen;
           
        }

        h1 {
            color: lightgray;
        }

        h2 {
            color: lightgray;
        }
        table {
            border-radius: 8px;
            background-color: white;
            height 100px;
            opacity: 0.75;
            

        }

        a{
            color: darkgreen;

        }
    </style>




    @{
        ViewBag.Title = "Boekingen";
    }

    @using (Html.BeginForm())
    {
        <h1>Welke Lodge wilt u boeken?</h1>
        <div class="col-sm-4">
            <div>
                <h4 style="color: white">@Html.LabelFor(modeld => modeld.incheckdatum, htmlAttributes: new { @class = "control-label" })</h4>
                
                <div>
                    @Html.EditorFor(modeld => modeld.incheckdatum, new { htmlAttributes = new {  @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(modeld => modeld.incheckdatum, "", new { @class = "text-danger" })
                </div>
                <div>
                   <h4 style="color:white"> @Html.LabelFor(modeld => modeld.uitcheckdatum, htmlAttributes: new { @class = "control-label" })</h4>
                    <div>
                        @Html.EditorFor(modeld => modeld.uitcheckdatum, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(modeld => modeld.uitcheckdatum, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <br />

            <button type="submit" class="btn-success">Zoeken</button>
        </div>
        
    }
       

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
   

    <div class="col-sm-8">
        <table class="table">


            @if (Model.lodgestypes != null)
            {
                foreach (var item in Model.lodgestypes)
                {
                   
            <tr>
                <td>
                    <img src="@item.url" style="height:90px; width:130px;" alt="" />
                </td>
                <td>
                    <br />
                    @Html.DisplayFor(modelItem => item.LodgeOmschrijving)
                </td>
                <td>
                    <br />
                    @Html.DisplayFor(modelItem => item.LodgeTypeNaam)
                </td>
                <td>
                    <br />
                    @Html.DisplayFor(modelItem => item.aantalpersonen)Pers.
                </td>
                <td>
                    <br />
                    €@Html.DisplayFor(modelItem => item.prijs) Per nacht
                </td>
                <td>
                    <br />
                 <div style="height: 20px; width: 80px; background-color:lightgreen; color;">
                     @if (Model.incheckdatum < Model.uitcheckdatum)
                     {
                    @Html.ActionLink("Boek Lodge", "BoekingBevestigen", new { incheckdatum = Model.incheckdatum, uitcheckdatum = Model.uitcheckdatum, lodgetype = item.LodgeTypeID }) 
                     }
                     </div>
                </td>
            </tr>
                }
            }

        </table>
    </div>
    



</body>