@model Wagenpark.Models.MijnProfiel


@{
    ViewBag.Title = "Index";

}

<body>


    <div class="row">
        <div class="lijst" style="margin-top:80px;">
            <div class="col-sm-4" style="background-color: #fff; height: 530px; width: 27%;
border-radius: 20px; margin: auto;  padding: 0; margin-left: 20px; margin-top: 20px; ">
                <div style="height: 22%;  border-top-left-radius: 20px;
border-top-right-radius: 20px;">
                    <img src="~/Content/Images/stockpicture.png" style="background-size: cover; height: 90%; width: 35%; margin-left: 95px; margin-top: 15px;
 border-radius: 100%;">
                </div>

                <div style="height: 65%; background-color: #fff;">

                    <table style="  width: 100% !important; margin-right: 25px; margin-left: 25px;">

                        <hr style="  border: 0; border-top: 1px solid #808080;" />
                        <div>
                           
                            <form>
                                <h4 class="lijst" style="font-family: Comic Sans MS; margin-left:25px">
                                    <input type="text" style="visibility: hidden" name="updaten" value="True">
                                    Voornaam:<br>
                                    <input type="text" name="voornaam" value=@Model.gast.Voornaam>
                                    <br>
                                    Achternaam:<br>
                                    <input type="text" name="achternaam" value="@Model.gast.Achternaam">
                                    <br>
                                    Postcode:<br>
                                    <input type="text" name="postcode" value="@Model.gast.Postcode">
                                    <br>
                                    Woonplaats:<br>
                                    <input type="text" name="woonplaats" value="@Model.gast.Woonplaats">
                                    <br><br />
                                        <center>
                                            <a href="">
                                                <button style="width: 100px; height: 30px; border: 1px solid #378452;">
                                                    <h5 style="font-family: 'Comic Sans MS'; margin-bottom: 6px; padding-bottom: 4px;">Wijzigen</h5>
                                                </button>
                                            </a>
                                        </center>
                                </h4>
                            </form>
                        </div>
                </table>
                <a href="@Url.Action("Boeken", "MijnBoeking")">
                    <button class="submit" style="width: 100%; height: 18%; bottom: 0; background-color: #378452;
border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; color: #fff; border: 0; margin-top: 50px" value="ve" name="verwijderen">
                        <h4 style="font-family: 'Comic Sans MS'">Lodge boeken</h4>
                    </button>
                </a>

            </div>


        </div>

        @foreach(var item in Model.boekingen)
        {

            <div class="col-sm-4" style="background-color: #fff; height: 520px; width: 27%;
border-radius: 20px; margin: auto;  padding: 0; margin-left: 20px; margin-top: 20px; margin-bottom: 20px;">

                <div style="height: 22%;  border-top-left-radius: 20px;
border-top-right-radius: 20px;">

                    <img src="~/Content/Images/Bevestiging.jpg" style="background-size: cover; height: 100%; width: 100%;
border-top-right-radius: 20px; border-top-left-radius: 20px;">

                </div>


                <div style="height: 65%; background-color: #fff;">


                    <table style=" margin-top: 15px; width: 100% !important; margin-right: 25px; margin-left: 25px;">

                        <tr>

                            <td><h5 style="font-family: Comic Sans MS;"><b>Uw boeking bij Kunja:</b></h5></td>

                        </tr>

                        <tr>

                            <td><h5 style="font-family: Comic Sans MS;"><b>Naam: </b> @Model.gast.Voornaam @Model.gast.Achternaam</h5></td>


                        </tr>

                     

                        <tr>

                            <td><h5 style="font-family: Comic Sans MS;"><b>Naam Lodge: </b> @item.Lodges.LodgeTypes.LodgeTypeNaam</h5></td>


                        </tr>



                        <tr>
                            <td>
                                <h5 style="font-family: Comic Sans MS;">
                                    <b>Incheckdatum:</b> @item.incheckdatum.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("nl-NL"))<br /></h5>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5 style="font-family: Comic Sans MS;">
                                    <b>Uitcheckdatum:</b> @item.uitcheckdatum.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("nl-NL"))
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 style="font-family: Comic Sans MS;"></h5>
                                    </div>

                                </div>
                                <hr style="margin-left: -25px;  border: 0; border-top: 1px solid #808080; margin-right:25px;" />

                            </td>

                        </tr>
                    </table>

                    <div style="margin-top: -10px;">

                        <h5 style="font-family: Comic Sans MS; color:black; font-weight: bold; float: left; text-align:left; margin-left: 25px;">
                            TOTAAL: € @(item.Lodges.LodgeTypes.prijs * item.aantalnachten)
                        </h5>
                    </div>
                </div>
                <a href="@Url.Action("Index","MijnBoeking", new { updaten = "False", item.Boekingid })">
                    <button class="button" style="width: 100%; height: 12%; bottom: 0; background-color: #378452;
border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; color: #fff; border: 0;">
                        <h4 style="font-family: 'Comic Sans MS'">Boeking Annuleren</h4>
                    </button>
                </a>


            </div>
        }



        <div class="col-sm-4">
        </div>

    </div>

    </div>

</body>

